CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
YOUTUBE_API_KEY=
DOWNLOAD_WORKER_URL=
WORKER_SECRET=
YOUTUBE_COOKIES_B64=
YOUTUBE_COOKIES=
YTDLP_PROXY=
MAX_DURATION_SECONDS=1800
MAX_FILE_MB=500
NEXT_PUBLIC_AD_PROVIDER=placeholder
NEXT_PUBLIC_ADSENSE_CLIENT=
NEXT_PUBLIC_MONETAG_SCRIPT_SRC=https://n6wxm.com/vignette.min.js
NEXT_PUBLIC_MONETAG_ZONE=11939243
NEXT_PUBLIC_MONETAG_SRC=https://n6wxm.com/vignette.min.js
NEXT_PUBLIC_MONETAG_ZONE_TOP=11939387
NEXT_PUBLIC_MONETAG_ZONE_MID=11939388
NEXT_PUBLIC_MONETAG_ZONE_LEFT=11939390
NEXT_PUBLIC_MONETAG_ZONE_RIGHT=11939395
